/* GENERAL + HEADER */

* {box-sizing: border-box;}

body { 
    margin: 0;
    height: 100%;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
    padding-bottom: 60px;
}

.header {
    overflow: hidden;
    background-color: #fffc00;
    padding: 20px 20px;
    color: #262626;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #fffc00;
    color: black;
    text-align: center;
}

.header a, a:visited {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
    color: #262626;
}

.header a:after, a:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #262626;
    transition: 0.2s;
    opacity: 0.8;
}

.header a:hover:after, a:visited:hover:after {
    width: 100%;
}

a.block, a:visited.block {
    display: block;
    padding: 0.5em;
}

.header a.block:hover, a:visited.block:hover {
    background: #eee;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.active:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: grey;
    opacity: 0.5;
    width: 100%;
}

.header-right {
    float: right;
}

#logo-img {
    width: 50px;
}

/* REGISTER/LOGIN */

.register-container {
    margin: auto;
    max-width: 1200px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#register-btn, #login-btn, #account-modify-btn, #verify-login, #save-password-btn, #reset-password-btn, #confirm-username-btn,
#camera-snap-btn, #camera-save-btn, #camera-retry-btn, #no-camera-retry-btn, #image-upload-btn, #upload-confirm-btn, #account-gallery-btn, .comment-post-btn, #account-delete-btn, #delete-account-btn, #more-images-btn, #image-delete-btn {
    background-color: #fffc00;
    font-size: 14px; 
    color: #262626;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
}

#register-btn:hover, #login-btn:hover, #account-modify-btn:hover, #verify-login:hover, #save-password-btn:hover, #reset-password-btn:hover, #confirm-username-btn:hover,
#camera-snap-btn:hover, #camera-save-btn:hover, #camera-retry-btn:hover, #no-camera-retry-btn:hover,  #image-upload-btn:hover, #upload-confirm-btn:hover, #account-gallery-btn:hover, .comment-post-btn:hover, #account-delete-btn:hover, #delete-account-btn:hover, #more-images-btn:hover, #image-delete-btn:hover {
    opacity: 0.7;
}

#register-btn:disabled, #login-btn:disabled, #save-password-btn:disabled, #reset-password-btn:disabled, #confirm-username-btn:disabled, #camera-snap-btn:disabled, .comment-post-btn:disabled, #delete-account-btn:disabled {
    opacity: 0.3;
}

a {
    color: dodgerblue;
}

.register-signin-link {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 25px;
}

#password-message {
    display: none;
    background-color: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px 10px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 12px;
}

.valid {
    color: green;
    margin-left: 20px;
}

.valid:before {
    content: "✔";
    position: relative;
    left: -10px;
}

.invalid {
    color: red;
    margin-left: 20px;
}

.invalid:before {
    content: "✖";
    position: relative;
    left: -10px;
}

#error-username, #error-email, #error-password, #error-password-rpt, #error-password, #error-backend, #error-username-email, #error-password-login {
    display: none;
    margin-top: -18px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 5px;
    color: red;
}

#error-backend {
    margin-top: 10px;
    text-align: center;
}

#title-account, #title-index, #title-index-username, #title-image-username {
    padding-top: 20px;
    padding-bottom: 20px;
}

#valid-email-html {
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
    background-color: red;
    color: white;
    opacity: 0.8;
}

.settings-container {
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.title-settings {
    font-weight: bold;
}

/* CAMERA */

#camera-box {
    overflow: hidden;
    margin: 20px 0px 0px 0px;
    width: 480px;
    position: relative;
}

#camera-view {
    width: 480px;
    float: left;
}

#canvas {
    display: none;
}

#camera-save-btn, #camera-retry-btn {
    display: inline-block;
    width: 237px;
}

/* FILTERS + PICTURES TAKEN BOX */

#picture-taken {
    width: 480px;
    margin: 20px 0px 0px 0px;
}

#filter-selector, #pictures-taken-box {
    border-radius: 30px;
    margin-top: 10px;
    background-color: #E8E8E8;
    overflow: auto;
    white-space: nowrap;
}

#pictures-taken-view {
    overflow: hidden;
    min-width: 250px;
}

#pictures-taken-box {
    margin: 5px auto 0px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    height: 335px;
}

#filter-selector li {
    display: inline-block;
}

.filters-img {
    max-width: 60px;
    max-height: 60px;
    margin: 0px 10px 0px 10px;
    opacity: 0.4;
}

#filter-img-active {
    display: none;
    position: absolute;
    left: 40%;
    top: 35%;
    max-width: 30%;
    max-height: 30%;
    transition: left .5s ease-in, top .5s ease-in;
}

#title-filters {
    margin-top: 20px;
    font-size: 25px;
}

.pictures-taken-picture {
    width: 80%;
    margin: 0px auto 5px auto;
    display: block;
}

#title-pictures-taken {
    text-align: center;
    margin-bottom: 10px;
}

#message-no-pictures-taken-box {
    text-align: center;
    border-radius: 30px;
    margin: 20px;
    padding: 20px 0px 20px 0px;
    background-color:rgba(78, 167, 255, 0.4);
    font-size: 16px;
}

#link-pictures-taken-to-gallery {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #787878;
    border-radius: 30px;
    width: 30%;
    margin: 10px auto 10px auto;
    padding: 10px;
}

/* NO CAMERA + IMAGE UPLOAD */

#no-camera-box {
    display: none;
}

#error-no-camera {
    background-color: rgba(255, 178, 178, 0.4);
    width: 100%;
    margin: 30px auto 20px auto;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

#no-camera-retry-btn, #image-upload-btn, #upload-confirm-btn {
    margin: auto;
    margin-bottom: 10px;
}

#or-buttons-no-camera {
    text-align: center;
    color: grey;
    margin: 0px 0px 10px 0px;
}

#image-upload-input {
    display: none;
}

#image-upload-btn {
    display: block;
    text-align: center;
}

#image-upload-preview {
    display: none;
    margin: 20px auto 20px auto;
    width: 480px;
}

#upload-confirm-btn {
    display: none;
}

#image-upload {
    display: none;
    margin: auto;
    width: 480px;
}

/* GALLERY */

#account-gallery-btn {
    background-color: #787878;
    color: white;
}

#my-gallery-empty-box {
    margin-top: 20px;
    display: none;
}

#my-gallery-empty-message {
    display: block;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: rgba(255, 178, 178, 0.4);
}

.empty-gallery-text {
    display: block;
    line-height: 60px;
}

#empty-gallery-img {
    margin: 10px auto;
    padding: 10px;
    display: block;
    width: 150px;
    opacity: 0.7;
}

.pictures-gallery-box {
    width: 100%;
    border: solid 1px #E8E8E8;
    margin-bottom: 10px;
}

.pictures-gallery {
    margin: 10px auto;
    display: block;
    max-height: 360px;
    margin-bottom: 10px;
}

/* ACCOUNT */

#account-delete-btn {
    background-color: red;
    color: white;
}

/* GALLERY SOCIAL */

.gallery-social-block {
    width: 100%;
    margin: auto;
    padding: 2px;
    border-top: solid 1px #E8E8E8;
}

.gallery-social-icons {
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #E8E8E8;
    margin-bottom: 10px;
    font-size: 140%;
}

.gallery-social-comments {
    margin-left: 10px;
    margin-bottom: 10px;
    max-height: 80px;
    overflow: scroll;
    overflow-x:hidden;
}

.gallery-social-comment {
    margin-top: 5px;
}

.comment-text-box {
    overflow: hidden;
    height: 40px;
    margin-left: 5px;
    padding: 10px;
    width: calc(100% - 120px);
    border: solid 1px #E8E8E8;
    border-radius: 30px;
}

.comment-post-btn {
    float: right;
    width: 100px;
    height: 40px;
    padding: 5px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
}

.comment-length-error, .comment-format-error, .comment-length {
    padding: 5px;
    color: red;
    font-size: 12px;
    display: none;
}

.comment-length {
    padding: 5px;
    color: green;
    font-size: 12px;
    display: none;
}

.single-comment {
    margin: 5px 0px 5px 0px;
    font-size: 85%;
}

.user-comment {
    display: inline-block;
}

.username-comment {
    display: inline-block;
    font-weight: bold;
}

.social-like-icon {
    cursor: pointer;
}

.gallery-posted-by {
    padding: 5px 0px;
    color: #C0C0C0;
    font-size: 85%;
}

/* INDEX */

#title-index, #title-index-username {
    display: block;
    text-align: center;
    color: #fffc00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#title-feed {
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 50px;
}

#index-intro {
    display: block;
    text-align: center;
    font-size: 125%;
    font-weight: 600;
    opacity: 0.8;
    color: black;
    margin-bottom: 20px;
}

#screenshot-index, #screenshot-mobile-index {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}

#screenshot-mobile-index
{
    display: none;
}

#index-loggedout-feed-box {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin: auto;
    width: 100%;
}

/* IMAGE PAGE */

#image-info {
    font-style: italic;
    font-size: 12px;
    background-color: #E8E8E8;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 10px;
}

#image-delete-btn {
    background-color: red;
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .register-container {
        margin: auto 50px auto 50px;
    }
}

@media screen and (max-width: 920px) {
    #message-no-pictures-taken-box {
        font-size: 14px;
    }
}

@media screen and (max-width: 830px) {
    .register-container {
        margin: auto 50px auto 50px;
    }

    #camera-view {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media screen and (max-width: 680px) {
    .pictures-gallery {
        max-height: 350px;
        max-width: 350px;
    }
}

@media screen and (max-width: 545px) {
    #logo-img {
        display: none;
    }

    .register-container {
        margin: auto 20px auto 20px;
    }

    #camera-box, #camera-stream, #image-upload-preview {
        width: 300px;
        height: auto;
    }

    #camera-view, #picture-taken {
        width: 300px;
    }

    #camera-save-btn, #camera-retry-btn, #no-camera-retry-btn,  #image-upload-btn, #upload-confirm-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    #image-upload {
        display: none;
        width: 300px;
    }

    .pictures-gallery {
        max-height: 250px;
        max-width: 250px;
    }

    .gallery-social-icons {
        width: 100%;
        padding: 5px;
        border-bottom: solid 1px #E8E8E8;
        font-size: 120%;
    }

    #screenshot-index
    {
        display: none;
    }

    #screenshot-mobile-index
    {
        display: block;
    }

    #index-loggedout-feed-box {
        padding: 20px;
    }
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}