/* GENERAL + HEADER */

* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}

.header {
    overflow: hidden;
    background-color: #fffc00;
    padding: 20px 20px;
    color: #262626;
}

.header a, a:visited {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
    color: #262626;
}

.header a:after, a:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #262626;
    transition: 0.2s;
    opacity: 0.8;
}

.header a:hover:after, a:visited:hover:after {
    width: 100%;
}

a.block, a:visited.block {
    display: block;
    padding: 0.5em;
}

.header a.block:hover, a:visited.block:hover {
    background: #eee;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.active:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: grey;
    opacity: 0.5;
    width: 100%;
}

.header-right {
    float: right;
}

#logo-img {
    width: 50px;
}

@media screen and (max-width: 545px) {
    #logo-img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
.header a {
    float: none;
    display: block;
    text-align: left;
}

.header-right {
    float: none;
}
}

/* REGISTER/LOGIN */

.register-container {
    margin: 0px 50px 0px 50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#register-btn, #login-btn, #account-modify-btn {
    background-color: #fffc00;
    font-size: 14px; 
    color: #262626;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
}

#register-btn:hover, #login-btn:hover {
    opacity: 0.7;
}

#register-btn:disabled, #login-btn:disabled {
    opacity: 0.3;
}

a {
    color: dodgerblue;
}

.register-signin-link {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 25px;
}

#password-message {
    display: none;
    background-color: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px 10px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 12px;
}

.valid {
    color: green;
    margin-left: 20px;
}

.valid:before {
    content: "✔";
    position: relative;
    left: -10px;
}

.invalid {
    color: red;
    margin-left: 20px;
}

.invalid:before {
    content: "✖";
    position: relative;
    left: -10px;
  }

#error-username, #error-email, #error-password, #error-password-rpt, #error-password, #error-backend, #error-username-email, #error-password-login {
    display: none;
    margin-top: -18px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 5px;
    color: red;
}

#error-backend {
    margin-top: 10px;
    text-align: center;
}

#title-account {
    padding-top: 20px;
    padding-bottom: 20px;
}